<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240451822607-pne2rl4cugghk36ur0emct6fr0atac1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240451822607-pne2rl4cugghk36ur0emct6fr0atac1o</string>
	<key>API_KEY</key>
	<string>AIzaSyDGyPFUYzL7mqJpiGbVK8YFc1pLWXSrRXA</string>
	<key>GCM_SENDER_ID</key>
	<string>240451822607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ebook</string>
	<key>PROJECT_ID</key>
	<string>booksapp-b33f9</string>
	<key>STORAGE_BUCKET</key>
	<string>booksapp-b33f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240451822607:ios:40c582c3c0ec0ebe476f7a</string>
</dict>
</plist>