<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231198070941-hu14f05vpvdnqsmk6e9l1g0u7ocr1doh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231198070941-hu14f05vpvdnqsmk6e9l1g0u7ocr1doh</string>
	<key>API_KEY</key>
	<string>AIzaSyATMifjeLIbchegli8KlazGK2FLzjx6Ygs</string>
	<key>GCM_SENDER_ID</key>
	<string>231198070941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beautySallon</string>
	<key>PROJECT_ID</key>
	<string>beautysalon-e4a6f</string>
	<key>STORAGE_BUCKET</key>
	<string>beautysalon-e4a6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231198070941:ios:53b37cc477cf9e0a8bdc74</string>
</dict>
</plist>